.form {
  display: flex;
  flex-direction: row;
}
input {
  width: 100%;
  font-size: larger;
  border-radius: 5px;
  /* margin-right: 10px; */
}

button {
  font-size: large;
  border-radius: 5px;
  padding: 8px 10px;
  background-color: white;
  transition: width 5s ease-in-out;
}
button:hover {
  background-color: rgb(15, 15, 5);
  color: white;
  width: 10%;
}
